/* CSS personalizado */
.custom-primary-button {
    background-color: #cb0606; /* Substitua isso pela cor desejada em formato hexadecimal ou nome da cor */
    color: #FFFFFF; /* Cor do texto no botão */
}

.no-border {
    border: none !important;
}

/* CSS personalizado */
.custom-button-height {
    width: 330px; /* Altura desejada em pixels */
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Isso centralizará horizontalmente o contêiner */
}


.custom-content {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-content:hover {
border-color: red;
}

.custom-content input[type="radio"]:checked + .bolinha {
background-color: red;
border-color: red;
}



/* Media query para ajustar o tamanho da fonte em telas menores */
@media screen and (max-width: 768px) {
    .categories a {
        font-size: 14px; /* Tamanho de fonte ainda menor para telas menores */
    }
    .custom-content {
        width: 100%;
    }
}
  
.custom-small-square-image {
    border-radius: 10px;
    width: 70px; /* Defina a largura desejada (exemplo: 50px) */
    height: 70px; /* Defina a altura desejada (exemplo: 50px) */
    object-fit: cover; /* Para ajustar a imagem ao tamanho especificado mantendo a proporção */
}

.nome-modal{
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 10px;
}

.quantidade-modal{
    font-size: 10px;
    padding-top: 6px ;
}

.preco-total-modal{
    font-size: 10px;
    padding-top: 6px;
}