<div class="container mt-5">
  <h2 class="text-center">Finalizar pedido</h2>
  <div class="modal-body">
    <div *ngIf="produtosDoCarrinho.length > 0; else carrinhoVazio" class="row mb-3">
      <div class="col" *ngFor="let produto of produtosDoCarrinho">
        <img src="{{ produto.imageUrl }}" alt="{{ produto.name }}" class="custom-small-square-image">
      </div>
      <div class="col" *ngFor="let produto of produtosDoCarrinho">
        <div class="col align-self-start nome-modal">
          <strong class="nome-modal">{{ produto.name }}</strong>
        </div>
        <div class="col align-self-start quantidade-modal">
          <h5 class="quantidade-modal">Quantidade: {{ produto.quantidade }}</h5>
        </div>
        <div class="col align-self-start preco-total-modal">
          <strong>Preço total: R$ {{ produto.price * produto.quantidade }},00</strong>
        </div>
      </div>
    </div> 
  <ng-template #carrinhoVazio>
    <p class="text-center">Seu carrinho de compras está vazio.</p>
  </ng-template>
</div>

  
<form class="conteiner">
  <hr>
  <div class="container">
    <strong>Tipo de entrega:</strong>
    <div class="row custom-content mt-3" type="text">
      <div class="col-6">
        <strong class="custom-control-label " for="retirar">Retirar pedido</strong>
      </div>
      <div class="col">
        <div>Grátis</div>
      </div>
      <div class="col">
        <input type="radio" id="retirar" [(ngModel)]="tipoEntrega" name="tipoEntrega" class="custom-control-input  custom-radio" value="retirar">
      </div>
    </div>
    <div class="row custom-content mt-2">
      <div class="col-6">
        <strong class="custom-control-label" for="entregar">Entregar pedido</strong>
      </div>
      <div class="col">
        <div>R$10,00</div>
      </div>
      <div class="col">
        <input type="radio" id="entregar" [(ngModel)]="tipoEntrega" name="tipoEntrega" class="custom-control-input" value="entregar">
      </div>
      <div class="form-group text-center mt-2" *ngIf="toggleEndereco()">
        <label for="enderecoEntrega ">Endereço da Entrega:</label>
        <input type="text" class="form-control" id="enderecoEntrega" name="enderecoEntrega">
      </div>
    </div>
  </div>

  <hr>
  
  <div class="container mt-3">
    <strong class="text-center">Horario da entrega/retirada:</strong>
    <div class="row custom-content mt-3">
      <div class="col">
        <strong for="metodoHorario">Horário:</strong>
      </div>
      <div class="col">
        <input type="time" class="form-control" id="horarioPadrao" [value]="defaultHorario">
      </div>
    </div>
  </div>

  <hr>

  <div class="container mt-3">
    <strong class="text-center">Método de Pagamento:</strong>
    <div class="row custom-content mt-3">
      <div class="col">
        <strong for="metodoHorario">Pagamento:</strong>
      </div>
      <div class="col">
        <select class="form-control " id="metodoPagamento">
          <option value="pix">Pix</option>
          <option value="debito">Cartão de Débito na entrega</option>
          <option value="credito">Cartão de Crédito na entrega</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
</form>

<div class="container mt-5">
  <h2 class="text-center">Finalizar pedido</h2>
  <div *ngIf="produtosDoCarrinho.length > 0; else carrinhoVazio">
    <p>Total da Compra: R$ {{ totalCompra }}</p>
  </div>
</div>

<div class=" mb-5 mt-5 text-center">
  <div class="btn btn-primary custom-primary-button no-border custom-image-small custom-button-height mb-3">
    <button class="btn btn-primary btn-block custom-primary-button no-border custom-image-small " (click)="concluirCompra()">
      Continuar
    </button>
  </div>
</div>
