/* Estilo para o logo no canto superior esquerdo */
.logo {
    margin-right: 5px; /* Espaçamento entre a imagem e o texto */
    width: 50px; /* Tamanho da imagem do logotipo */
    height: 50px; /* Tamanho da imagem do logotipo */
}

/* Estilo para o texto do logo */
.navbar-brand {
    font-weight: bold;
    padding: 5px 0; /* Margem superior e inferior */
    color: #9b9999;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
    color: #FF0000; /* Substitua #FF0000 pela cor desejada em formato hexadecimal ou nome da cor */
}

