/* Estilo para o logo no canto superior esquerdo */
.logo {
    margin-right: 20px; 
    width: 60px;
    height: 60px; 
}

/* Estilo para o texto do logo */
.navbar-brand {
    font-weight: bold;
    color: #9b9999;
}

.navbar {
    background-color: rgb(255, 255, 255);
}
